@charset "UTF-8";
:root {
    --bg-color-1: white;
    --bg-color-2: gray;
    --text-color-1: black;
    --underline-color-1: black;
    --link-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:var(--underline-color-1);
  height: 1px;
}

.team-header img{
  width:75%;
}

.team-cards a, .staff-card-lg a, .staff-card-md a{
  text-decoration:none;
  color:var(--link-color);
}

.card{
  border: none;
}


@media only screen and (max-width: 768px) {
  .chapter-lead-card, .staff-card{
    width: 16rem !important;
  }
}

.team-card-row .card{
  min-height: 32rem;
  max-width: 16rem;
}

.staff-card{
  height: 32rem;
  width: 16rem;
}

.team-sidebar{
  border-left: 1px solid black;
}

.read-more{
  cursor: pointer;
  font-weight: bold;
}

.team-sidebar ul{
  list-style-type: none;
}

.team-sidebar li{
  cursor: pointer;
}

.team-sidebar ul .active, .team-sidebar .active{
  font-weight: bold;
}

.vertical{
  display: block;
}

.horizontal{
  display: none;
}

.staff-card-lg{
  display:block;
}

.staff-card-md{
  display:none;
}

@media only screen and (max-width: 1200px) {

  .staff-card-lg{
    display:none;
  }

  .staff-card-md{
    display:block;
  }

  .vertical{
    display: none;
  }

  .horizontal{
    display: block;
  }

  .team-sidebar{
    border-left: 0px;
  }

  .horizontal{
    border-bottom: 1px solid black;
  }

}

.sticky-top {
  top: 5em;
}

/*Card Flip*/
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 10px 0 rgba(90,90,90,0.2) !important;
  z-index: 3;
}


.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
