<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="google-site-verification" content="DYJ8Xt0pxjjRZkt7ZtwlHBrrkWm9ModASzPrwZ1cZUg" />
  <meta name="description"
    content="A Google Developers program for university students, with an aim to help students build their development skills. JSS Science and Technology University, Mysore">
  <meta name="keywords" content="dsc,dscindia,dscjssstu,dscjssmysore,jssstu,Leader-Board">
  <meta name="author" content="DSC JSSSTU">
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="icon" href="favicon.png">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <meta itemprop="image" content="favicon.png">

  <meta property="og:title" content="DSC JSSSTU|Projects">
  <meta property="og:description" content="Developer Student Clubs - by Google Developers
    JSS Science and Technology University, Mysore">
  <meta property="og:image" content="favicon.png">
  <meta property="og:url" content="https://dscjssstu.netlify.com/projects">
  <!-- <link rel=" manifest" href="/manifest.json"> -->
  <title>
    Mock placement training | DSC JSSSTU
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel='stylesheet'
    href='https://d33wubrfki0l68.cloudfront.net/css/4e59bc3c17ed530a7568243c6b35d24837206cb6/assets/css/material-kit.css' />
  <!-- Documentation extras -->
  <link rel='stylesheet'
    href='https://d33wubrfki0l68.cloudfront.net/bundles/5a2425e862deae75627627a5b189e620641d1eca.css' />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css"
    rel="stylesheet" />
  <style>
    body #content-data {
      min-height: 100vh;
      flex-direction: column;
    }
  </style>
  <!-- iframe removal -->
</head>

<div id="preloader">
  <div id="status">
    <div class="showbox">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>
  </div>
</div>

<body class="landing-page" name="top" id="top">
  <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100"
    id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="index.html"><span id="gdg-logo"><img
              src="https://d33wubrfki0l68.cloudfront.net/58f92715e27dd6332fc56c0acde5d772734ec17d/b31ed/assets/img/logos/dsc_header.png"
              height="30" />
        </a>
        <button style="color:rgb(120,120,120)" class="navbar-toggler" type="button" data-toggle="collapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href='index.html' data-page='index' class='nav-link'>
              <span><b>Home</b></span>
            </a>
          </li>
          <li class="nav-item">
            <a href='events.html' data-page='events' class='nav-link'>
              <span><b id="header_text">Events</b></span>
            </a>
          </li>
          <li class="nav-item">
            <a href='mpt.html' data-page='leader-board' class='nav-link'>
              <span><b id="blue_text">MPT</b></span>
            </a>
          </li>
          <li class="nav-item">
            <a href='projects.html' data-page='projects' class='nav-link'>
              <span><b id="header_text">Projects</b></span>
            </a>
          </li>
          <li class="nav-item">
            <a href='team.html' data-page='team' class='nav-link'>
              <span><b id="header_text">Team</b></span>
            </a>
          </li>

          <li class="nav-item">
            <a href="#!" id="bg-toggle" class="nav-link">
              <span class="text-toggle"><b id="font-weight-bold">Dark Mode</b></span>
            </a>
          </li>
          <li class="nav-item">
            <a target="blank" class="nav-link"
              href="https://docs.google.com/forms/d/e/1FAIpQLScYPmy9yb9cvVY9-mq5eJtwVl2JT9ywVz7JWk8yv4tRBOEE_g/viewform?usp=sf_link">
              <span class="btn" id="joinbtn"><b id="header_text">Sign Up</b></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main main-raised" style="margin-top: 0;">
    <div id="content-data">
      <div class="container">
        <div class="container-page">
          <div class="row mt-5">
            <div class="col-lg-12">
              <p>&nbsp;</p>
              <h2 class="title text-center">Mock Placement Test</h2>
              <h3 class="title text-center" id="tracks">Leader Board</h3>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
      <div id="leader-board">
        <div class="text-center">
          <small>Displaying Top 100 Performers</small>
        </div>
        <div id="loader" class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <!-- <table id="example" class="table" width="100%">
        </table> -->
        <div id="nav-tab" style="display: none;">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <!-- <li class="nav-item">
              <a class="nav-link active" id="pills-comm-tab" data-toggle="pill" href="#pills-comm" role="tab"
                aria-controls="pills-comm" aria-selected="true">Cumulative</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" id="test-1-tab" data-toggle="pill" href="#test-1" role="tab"
                aria-controls="test-1" aria-selected="false">MPT-2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="test-tab" data-toggle="pill" href="#test" role="tab" aria-controls="test"
                aria-selected="false">MPT-1</a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
          <!-- <div class="tab-pane fade show active" id="pills-comm" role="tabpanel" aria-labelledby="pills-home-tab">
            <table id="example-comm" class="table" width="100%">
            </table>
          </div> -->
          <div class="tab-pane" id="test" role="tabpanel" aria-labelledby="test-tab">
            <table id="example" class="table" width="100%">
            </table>
          </div>
          <div class="tab-pane fade fade show active" id="test-1" role="tabpanel" aria-labelledby="test-1-tab">
            <table id="example-2" class="table" width="100%">
            </table>
          </div>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr />
    <div id="footer">
      <a href="#top" id="top-button" class="top">
        <i class="material-icons" style=" font-size: 30px;">
          keyboard_arrow_up
        </i>
      </a>
      <div class="container" style="padding-top: 20px;">
        <div class="row">
          <div class="offset-md-1 col-md-5">
            <div class="share-social">
              <span>Keep In Touch
                <a id="social_button" href="https://www.instagram.com/dscjssstu/" target="_blank"><i
                    class="fa fa-instagram"></i></a><a>&nbsp;</a>
                <a id="social_button" href="https://github.com/dsc-jssstu" target="_blank"><i
                    class="fa fa-github"></i></a><a>&nbsp;</a>

                <a id="social_button" href="https://www.facebook.com/dsc.jsstu.3" target="_blank"><i
                    class="fa fa-facebook"></i></a><a>&nbsp;</a>

                <a>&nbsp;</a>
              </span>
            </div>
          </div>
          <div class="offset-md-1 col-md-5">
            <div class="share-social">
              <span><a href="mailto:dsc.jssstu@gmail.com">
                  <h4>Email Us :
                    <b id="blue_text">dsc.jssstu@gmail.com</b></h4>
                </a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="container px-4">
        <div class="row">
          <div class="offset-md-1 col-md-5 col-sm-12 footer-details">
            <span><b>ABOUT</b></span>
            <p>
              <a href="https://developers.google.com/" id="details_redirect" target="_blank">Google
                Developers</a><br />

              <a href='team.html' id='details_redirect'>Meet the Team</a><br />
            </p>
          </div>
          <div class="offset-md-1 col-md-5 col-sm-12 footer-details">
            <span><b>OTHER LINKS</b></span>
            <p>
              <a href="#!" id="details_redirect">Call for
                Speakers</a><br />
              <a href="https://docs.google.com/document/d/131WS_5-IBXdvj_mfNogbSoc5fOBfJx50k2YmHrXkMt4/edit?usp=sharing"
                id="details_redirect" target="_blank">Community Guidelines</a><br />
            </p>
          </div>
        </div>
      </div>
      <div class="bg-light" style="padding: 15px;">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6">
              <img
                src="https://d33wubrfki0l68.cloudfront.net/07d038c64e97a90ebc7fd3be0be5e9884f4bd005/9fd8e/assets/img/logos/dsc_linear.png"
                alt="dsc-logo" />
            </div>
            <div class="col-md-6 copyright text-dark" style="font-family: 'Open Sans', sans-serif; font-size:14px;">
              &copy; 2019 <b>DSC JSSSTU</b> <span class="hide-bar"> | </span><a id="details_redirect"
                href="#"><b>Developed with <svg class="heart" viewBox="0 0 32 29.6">
                    <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                                      c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
                  </svg></b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
  <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
  <script src='https://d33wubrfki0l68.cloudfront.net/bundles/f3f187d7b6d86f607b4521e7619fb2d90dee1631.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script
    src='https://d33wubrfki0l68.cloudfront.net/js/048113a4571287def76765b91f7f01eb69c92e49/assets/assets-custom/loaderanddarkmode.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <script
    src='https://d33wubrfki0l68.cloudfront.net/js/4fdfa2af5425842665ec87aeef35fe608c99d1a0/assets/assets-custom/js/leaderboard.js'></script>
</body>

</html>