<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google-site-verification" content="DYJ8Xt0pxjjRZkt7ZtwlHBrrkWm9ModASzPrwZ1cZUg" />
    <meta name="description" content="Developer Student Clubs - by Google Developers
    JSS Science and Technology University, Mysore
    Google Developers 2020">
    <meta name="keywords" content="dsc,dscindia,dscjssstu,dscjssmysore,jssstu">
    <meta name="author" content="DSC JSSSTU">
    <!-- Favicons -->
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <meta itemprop="image" content="favicon.png">

    <meta property="og:title" content="DSC JSSSTU|Events">
    <meta property="og:description" content="Developer Student Clubs - by Google Developers
    JSS Science and Technology University, Mysore">
    <meta property="og:image" content="favicon.png">
    <meta property="og:url" content="https://dscjssstu.netlify.com/events">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <title>
        Events | DSC JSSSTU
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
        integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel='stylesheet'
        href='https://d33wubrfki0l68.cloudfront.net/css/4e59bc3c17ed530a7568243c6b35d24837206cb6/assets/css/material-kit.css' />

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
        integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />

    <!-- Documentation extras -->
    <link rel='stylesheet'
        href='https://d33wubrfki0l68.cloudfront.net/bundles/62789df0b6204d04eb9ddc111b83ac71918bb3ef.css' />



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity%402.0.11/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity%402.0.11/dist/flickity.pkgd.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            overflow-x: hidden;
        }



        #top-button {
            font-size: 20px;
            transition: 0.3s ease;
        }

        .grid-item {
            width: 25%;
        }

        .grid-item--width2 {
            width: 50%;
        }

        */ .img-fluid {
            border-radius: 5px 5px;
        }
    </style>
    <!-- iframe removal -->
</head>

<div id="preloader">
    <div id="status">
        <div class="showbox">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
    </div>
</div>

<body class="landing-page" name="top" id="top">
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100"
        id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="index.html"><span id="gdg-logo"><img
                            src="https://d33wubrfki0l68.cloudfront.net/58f92715e27dd6332fc56c0acde5d772734ec17d/b31ed/assets/img/logos/dsc_header.png"
                            height="30" /> </a>
                <button style="color:rgb(120,120,120)" class="navbar-toggler" type="button" data-toggle="collapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href='index.html' data-page='index' class='nav-link'>
                            <span><b>Home</b></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-page="events" class="nav-link">
                            <span><b id="blue_text">Events</b></span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href='mpt.html' data-page='leader-board' class='nav-link'>
                            <span><b id="header_text">MPT</b></span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a href="./resources.html" data-page="resources" class="nav-link">
                            <span><b id="header_text">Resources</b></span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a href='projects.html' data-page='projects' class='nav-link'>
                            <span><b id="header_text">Projects</b></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='team.html' data-page='team' class='nav-link'>
                            <span><b id="header_text">Team</b></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" id="bg-toggle" class="nav-link">
                            <span class="text-toggle"><b id="font-weight-bold">Dark Mode</b></span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="https://medium.com/@dscheritageit" data-page="team" class="nav-link">
                            <span><b id="header_text">Blog</b></span>
                        </a>
                    </li> -->
                    <!--  <li class="nav-item">
                        <a href="./about" data-page="about" class="nav-link">
                             <span ><b id="header_text">About</b></span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a target="blank" class="nav-link"
                            href="https://docs.google.com/forms/d/e/1FAIpQLScYPmy9yb9cvVY9-mq5eJtwVl2JT9ywVz7JWk8yv4tRBOEE_g/viewform?usp=sf_link">
                            <span class="btn" id="joinbtn"><b id="header_text">Sign Up</b></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main main-raised" style="margin-top: 0;">
        <p>&nbsp;</p>
        <div id="container-event" class="container">
            <div class="row mt-5 wow fadeIn">
                <div class="col-lg-6">
                    <p>&nbsp;</p>
                    <h2 class="title">Events</h2>
                    <h5 class="description">Here at DSC JSSSTU we put the fun in functions and events.<br>
                        Attend Study Jams/ Hackathons/ Developer Conferences to learn more about the latest
                        technologies.<br>
                        Interested in being a Speaker at one of our events? Just drop us your Proposal. </h5>
                    <p>&nbsp;</p>
                </div>
                <div class="col-lg-6" style="text-align:center;">
                    <p>&nbsp;</p>
                    <img class="img-fluid"
                        src="https://d33wubrfki0l68.cloudfront.net/ccfa8808b9399e10d2ea4f26760ba995f0a4c741/7b481/assets/img/kit/speaker_banner.png" />
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="row mt-5 wow fadeInLeft" style="text-align:center;">
                <div class="col-lg-12" style="text-align:center;">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel-wrapper">
                                    <h1 id="orange_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                    <img src="https://d33wubrfki0l68.cloudfront.net/819379b9c167409e458b36482a59eb228596c273/4b16e/assets/img/logos/exploreml.png"
                                        height="40px" />
                                    <h4 class="description">Explore Machine Learning (ML) is a Google-sponsored program
                                        for university students to get started with Machine Learning. The curriculum
                                        offers 3 tracks of machine learning content (Beginner, Intermediate, Advanced)
                                        and relies on university student facilitators to train other students on campus.
                                    </h4>
                                    <h1 id="orange_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                    <h4 class="description"><b>Google AI | Explore ML</b></h4>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-wrapper">
                                    <h1 id="blue_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                    <img src="https://d33wubrfki0l68.cloudfront.net/4e6c8509967015a695254fa7c4c3d35f449bc401/63e43/assets/img/kit/google_cloud.png"
                                        height="40px" />
                                    <h4 class="description">#GCPCrashCourse is a Cloud based learning campaign that
                                        focuses on building Learning Paths for students across 3 distinct Tracks. With
                                        <span id="blue_text">#GCPCrashCourse</span> you get to learn dedicated topics
                                        across three complete tracks, namely - Application Development, Data & Machine
                                        Learning.</h4>
                                    <h1 id="blue_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                    <a href='gcpcc.html' target='blank'><b>
                                            <h4 class="description">Click to Sign Up for <span
                                                    id="blue_text">#GCPCrashCourse</span>
                                        </b></h4></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-wrapper">
                                    <h1 id="red_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                    <img src="https://miro.medium.com/max/4282/1_PshD8n5B_7h-cmmFYpurqA.png"
                                        height="40px" />
                                    <h4 class="description">Cloud Fest '19 is an occasion which promises to be a
                                        celebration of ideas, learning, productive discussions, and the conception of
                                        unique solutions to critical real-world problems using cloud computing. </h4>
                                    <h1 id="red_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                    <h4 class="description"><b>Coming Soon</b></h4>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span>&nbsp;</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span>&nbsp;</span>
                        </a>
                    </div>

                </div>
            </div>
            <p>&nbsp;</p>
        </div>

        <div class="container" id="alert">
            <div class="alert alert-custom alert-dismissible fade show" role="alert">
                <p class="text-center font-weight-bold text-dark"><strong>Click</strong> on the images to View gallery
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <a href="#gallery-1" class="item-image" data-toggle="tooltip" data-placement="top"
                                    title="Click on images to view gallery">
                                    <img class="img-fluid rounded lazy" alt=""
                                        data-src="https://d33wubrfki0l68.cloudfront.net/556fd57024a600ab1e1ebf1e26714f1239ac007b/3cff4/assets/img/events/androidpda/img1-min.jpg"
                                        width="100%">
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    Android Workshop for Differently Abled Students</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">19<sup class="text-lowercase">th</sup>
                                October 2019</h6>
                            <div class="details">
                                <h5 class='description text-justify'><span>Android Workshop for Differently Abled
                                        Students on
                                        campus. We
                                        had a total of 54 attendees. Around 40 attendees were deaf and mute. With 6 days
                                        of
                                        intense planning, survey, and debate the team put up a successful workshop and
                                        achieved the outcomes in a very short time.
                                        the app.</span><span class="collapse" id="descp1"> The students learned the
                                        fundamentals of
                                        Android Studio and developed a simple app and ALL the students successfully
                                        developed the application and exported it to their smartphones. All this in just
                                        3
                                        hr duration. It was amazing to see students put in their creativity in
                                        developing
                                        <h5 class="description text-justify">This opportunity for the PDA
                                            students to get a
                                            hands on
                                            experience on android studio was
                                            our first step to start an Android Dev Community on campus.👨‍💻 With
                                            another
                                            successful
                                            workshop conducted, DSC JSSSTU continues to reach out to students and
                                            prepares
                                            them
                                            to
                                            tackle new challenges!</h5>
                                    </span>
                                    <button onclick="changeBtn(this)"
                                        class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                        data-toggle="collapse" data-target="#descp1">+ see more</button></h5>
                            </div>
                        </div>
                    </div>
                    <div id="gallery-1" class="d-none">
                        <a href="assets/img/events/androidPDA/img1-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/androidPDA/img3-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/androidPDA/img4-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/androidPDA/img51-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/androidPDA/img6-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/androidPDA/img7-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/androidPDA/img8-min.jpg">Image
                            4</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <a href="#gallery-2" class="item-image" data-toggle="tooltip" data-placement="top"
                                    title="Click on images to view gallery">
                                    <img data-src="https://d33wubrfki0l68.cloudfront.net/ba2f6dd92a9c6e0a376d37060a4641139f16717c/bd200/assets/img/events/bios/img1-min.jpg"
                                        class="img-fluid rounded lazy" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    BIOS</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">27 <sup class="text-lowercase">th</sup>
                                August 2019</h6>
                            <h5 class="description text-justify"><span>
                                    BIOS was the first fun event with more than 230 attendees and 150 being girls which
                                    was thus a proud moment for us. The event highlighted about the role of DSC and the
                                    virtues of being a part of it. This event centralized its view about the ZERO
                                    HOUR</span><span class="collapse" id="descp2">
                                    Session which focused on the idea behind the DSC club and how it would be beneficial
                                    to the students and the society. To make the event more fun and student interactive,
                                    we conducted a few activities like Google trends, tower of Hanoi, quiz on the
                                    trending technologies, treasure hunt etc.We concluded the event by giving away
                                    goodies to the participants encouraging them to stay connected for more exciting
                                    events and workshops in the future</span>
                                <button onclick="changeBtn(this)"
                                    class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                    data-toggle="collapse" data-target="#descp2">+ see more</button>
                            </h5>
                        </div>
                    </div>
                    <div id="gallery-2" class="d-none">
                        <a href="assets/img/events/BIOS/img1-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/BIOS/img2-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/BIOS/img3-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/BIOS/img4-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/BIOS/img4-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/BIOS/img41-min.jpg">Image
                            41</a>
                        <a href="assets/img/events/BIOS/img5-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/BIOS/img6-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/BIOS/img8-min.jpg">Image
                            8</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <a href="#gallery-3" class="item-image" data-toggle="tooltip" data-placement="top"
                                    title="Click on images to view gallery">
                                    <img data-src="https://d33wubrfki0l68.cloudfront.net/dc154ce9ce7a3179de82d3ba6f6178561b97a242/5bd27/assets/img/events/cloudstudy/img3-min.jpg"
                                        class="img-fluid rounded lazy" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    Google Cloud Study Jam</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">19th October 2019</h6>

                            <h5 class="description text-justify"><span> DSC JSSSTU successfully hosted its first fun
                                    event BIOS with more
                                    than 230 attendees and 150 being
                                    girls which was thus a proud moment for us. The event highlighted about the role of
                                    DSC
                                    and the
                                    virtues of being a part of it. This event
                                    centralized its view about
                                    the ZERO
                                    HOUR</span><span class="collapse" id="descp3">
                                    Session which
                                    focused on the idea behind the DSC club and how it would be beneficial to the
                                    students
                                    and the
                                    society. To make the event more fun and student interactive, we conducted a few
                                    activities like
                                    Google trends, tower of Hanoi, quiz on the trending technologies, treasure hunt
                                    etc.We
                                    concluded
                                    the event by giving away goodies to the participants encouraging them to stay
                                    connected
                                    for more
                                    exciting events and workshops in the future.</span>
                                <button onclick="changeBtn(this)"
                                    class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                    data-toggle="collapse" data-target="#descp3">+ see more</button>
                            </h5>

                        </div>
                    </div>
                    <div id="gallery-3" class="d-none">
                        <a href="assets/img/events/CloudStudy/img3-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/CloudStudy/img2-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/CloudStudy/img1-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/CloudStudy/img4-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/CloudStudy/img5-min.jpg">Image
                            5</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <a href="#gallery-4" class="item-image" data-toggle="tooltip" data-placement="top"
                                    title="Click on images to view gallery">
                                    <img data-src="https://d33wubrfki0l68.cloudfront.net/51e75274a58ccbc64051a14f069a4ce9b8ec004f/1ea8a/assets/img/events/gcp/img1-min.jpg"
                                        class="img-fluid rounded lazy" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    GCP Workshop</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">3<sup class="text-lowercase">rd</sup>
                                August 2019</h6>
                            <h5 class="description text-justify">
                                <span>
                                    On the 3rd of August, we had successfully conducted the
                                    introduction
                                    and hands on training of Google
                                    cloud awareness program to help students prepare for careers in cloud world. With
                                    the
                                    help of Google
                                    cloud team, it lead to the participation of 76 attendees along with our professor
                                    Divakara N and
                                    associate professor Shruthi M N.
                                </span>
                                <span class="collapse" id="desc5">
                                    This program thus provided a pathway to achieve the
                                    industry
                                    recognized Associate Cloud Engineer Certification and 1 GCP essential quest was
                                    completed by all. Each
                                    person got two online Google badge i.e. GCP essential badge and Cloud Study
                                    Jam-Kubernetes Engine:
                                    Qwik start badge and Goodies were also provided to all the attendees. This session
                                    would
                                    definitely be
                                    incomplete without the collaborative work of the DSC core team which included the
                                    women
                                    volunteers
                                    too, be it the photography or the volunteers readily available during the entire
                                    session
                                    that made sure
                                    that none of the attendees undergo any kind of confusion during the entire session.
                                    The
                                    session was
                                    concluded with the Principal addressing the benefits of hosting such events which
                                    ignites the young
                                    minds with the passion to compete for new ideas. A special thanks to the Google team
                                    who
                                    lead the
                                    students through the journey &amp; helped them enhance their learning in the fields
                                    of
                                    cloud computing
                                    which lead the attendee’s minds show interest in it.
                                </span>
                                <button onclick="changeBtn(this)"
                                    class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                    data-toggle="collapse" data-target="#desc5">+ see more</button>
                            </h5>
                        </div>
                    </div>
                    <div id="gallery-4" class="d-none">
                        <a href="assets/img/events/GCP/img1-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/GCP/img2-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/GCP/img3-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/GCP/img4-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/GCP/img5-min.jpg">Image
                            5</a>
                        <a href="assets/img/events/GCP/img6-min.jpg">Image
                            6</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <a href="#gallery-5" class="item-image" data-toggle="tooltip" data-placement="top"
                                    title="Click on images to view gallery">
                                    <img data-src="./assets/img/events/Google AI/img1-min.jpg"
                                        class="img-fluid rounded lazy" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    Google AI/ML</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">12-13<sup class="text-lowercase">th</sup>
                                October 2019</h6>
                            <h5 class="description text-justify">
                                <span>
                                    Our first Google AI - Explore ML workshop was conducted on 12th and 13th of October
                                    2019. Around (the number) participants attended this workshop. It was a two day
                                    workshop which covered ML at basic and intermediate levels. On the first day
                                    attendees were introduced to the concept of ML and its applications and also
                                </span><span class="collapse" id="desc6">
                                    the opportunities it beholds. We also conducted fun tutorials to explain ML in
                                    simple terms. Neural networks and tensor flow were covered on the first day. The
                                    second day mainly focused on the math behind ML, hence topics like regression,
                                    vectorization, linear algebra, linear regression were familiarised. By the end of
                                    the second day attendees were asked to code on Google Colabs and get a hands on
                                    experience of ML. In order to review the understanding of participants a fun
                                    interactive quiz called Kahoot was conducted which assessed their knowledge for the
                                    day. Winners of the quiz were given goodies. This workshop received an overwhelming
                                    response from the participants and we are looking forward to having another ML
                                    workshop later in the month of November.
                                </span>
                                <button onclick="changeBtn(this)"
                                    class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                    data-toggle="collapse" data-target="#desc6">+ see more</button>
                            </h5>
                        </div>
                    </div>
                    <div id="gallery-5" class="d-none">
                        <a href="assets/img/events/Google%20AI/img1-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/Google%20AI/img2-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/Google%20AI/img3-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/Google%20AI/img31-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/Google%20AI/img32-min.jpg">Image
                            5</a>
                        <a href="assets/img/events/Google%20AI/img4-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/Google%20AI/img6-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/Google%20AI/img61-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/Google%20AI/img9-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/Google%20AI/img10-min.jpg">Image
                            6</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <a href="#gallery-6" class="item-image" data-toggle="tooltip" data-placement="top"
                                    title="Click on images to view gallery">
                                    <img data-src="https://d33wubrfki0l68.cloudfront.net/ba00f4e9302f73eb7e5d891de1fd4ff0fbe1700d/837e4/assets/img/events/webhooks/img1-min.jpg"
                                        class="img-fluid rounded lazy" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    WebHooks Competition</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">3<sup class="text-lowercase">rd</sup>
                                september 2019</h6>
                            <h5 class="description text-justify">
                                <span>
                                    To introduce students to web designing WebHooks was conducted which is a frontend
                                    design competition for a duration of 3 hours. Participants were asked to design four
                                    webpages. Initially a prototype was displayed and the participants were given
                                    freedom to pitch-in their ideas and creativity in their webpages.
                                </span>
                                <span class="collapse" id="desc7">
                                    Later a bonus page was displayed which tested their knowledge and understanding
                                    level. The participants enthusiastically took part in the competition and made it a
                                    great success. Five people were shortlisted and were interviewed further. The
                                    selected candidates would be trained by DSC JSSSTU to become full stack developers.
                                    They are now interns and would be working on real projects. They would also play a
                                    prominent role in designing the Computer Science Department’s web page in JSSSTU
                                    website.
                                </span>

                                <button onclick="changeBtn(this)"
                                    class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                    data-toggle="collapse" data-target="#desc7">+ see more</button>
                            </h5>
                        </div>
                    </div>
                    <div id="gallery-6" class="d-none">
                        <a href="assets/img/events/webhooks/img1-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/webhooks/img2-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/webhooks/img3-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/webhooks/img4-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/webhooks/img5-min.jpg">Image
                            5</a>
                        <a href="assets/img/events/webhooks/img6-min.jpg">Image
                            6</a>
                        6</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <a href="#gallery-7" class="item-image" data-toggle="tooltip" data-placement="top"
                                    title="Click on images to view gallery">
                                    <img data-src="https://d33wubrfki0l68.cloudfront.net/2ca0c4a3a62623ee212ba364ac06bd780e198071/70130/assets/img/events/ktech/img1-min.jpg"
                                        class="img-fluid rounded lazy" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    KTECH</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">19th October 2019</h6>
                            <h5 class="description text-justify">
                                <span>
                                    DSC JSSTU successfully hosted WebHooks, a frontend
                                    design
                                    competition for a duration of 3 hours. Participants were asked to design
                                    four webpages. Initially a prototype was displayed and the participants
                                    were given freedom to pitch-in their ideas and creativity in their
                                    webpages.
                                </span>
                                <span class="collapse" id="desc8">
                                    Later a bonus page was displayed which tested their
                                    knowledge and understanding level. The participants enthusiastically
                                    took part in the competition and made it a great success. Five people
                                    were shortlisted and were interviewed further. The selected candidates
                                    would be trained by DSC JSSSTU to become full stack developers. They
                                    are now interns and would be working on real projects. They would also
                                    play a prominent role in designing the Computer Science Department’s
                                    web page in JSSSTU website.
                                </span>

                                <button onclick="changeBtn(this)"
                                    class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                    data-toggle="collapse" data-target="#desc8">+ see more</button>
                            </h5>
                        </div>
                    </div>
                    <div id="gallery-7" class="d-none">
                        <a href="assets/img/events/KTECH/img1-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/KTECH/img2-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/KTECH/img3-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/KTECH/img4-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/KTECH/img5-min.jpg">Image
                            5</a>
                        <a href="assets/img/events/KTECH/img6-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/KTECH/img7-min.jpg">Image
                            7</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <a href="#gallery-8" class="item-image" data-toggle="tooltip" data-placement="top"
                                    title="Click on images to view gallery">
                                    <img data-src="https://d33wubrfki0l68.cloudfront.net/a9a921e1d47b8c3c870099dc3d03382aacdb5cf6/4ecfa/assets/img/events/ktechstartup/front-min.jpg"
                                        class="img-fluid rounded lazy" alt="">
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    KTECH Bootcamp</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">19<sup class="text-lowercase">th</sup>
                                August 2019</h6>
                            <h5 class="description text-justify">
                                <span>
                                    Our club successfully hosted the Startup Karnataka Bootcamp funded by the Government
                                    of Karnataka was conducted on 6th August, 2019 from 9:00 a.m to 5:00 a.m with 120
                                    registrations and 94 people participating in the workshop. The event was graced by
                                    the Principal TN Nagabushan, Dr. M P Pushpalata, HOD CS&E department, who was also
                                    the coordinator of the event, and STEP SJCE CEO Shivshankar.
                                </span>
                                <span class="collapse" id="desc9">
                                    The objective of the event was: Incorporate, Incubate, Execute and Accelerate.
                                    Students got to learn how to setup a successful startup from experienced resourceful
                                    persons from Ktech and SJCE STEP CEO. The University alumni Mr. Harsha who holds 45
                                    patents and is also the founder of HoloSuit also shared his ideas and projects.
                                    <h5 class="description text-justify">
                                        The DSC team got to interact with the Students and get to explore their amazing
                                        new ideas.The core team members along with resource persons gave feedback to the
                                        students on how they can improve their ideas. The DSC team will be providing
                                        support to the students who want to provide services through Android & Web, and
                                        the funding will be done by the Government & the University on few selected
                                        projects.
                                    </h5>
                                </span>
                                <button onclick="changeBtn(this)"
                                    class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                    data-toggle="collapse" data-target="#desc9">+ see more</button>
                            </h5>
                        </div>
                    </div>
                    <div id="gallery-8" class="d-none">
                        <a href="assets/img/events/KtechStartup/front-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/KtechStartup/img1-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/KtechStartup/img2-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/KtechStartup/img3-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/KtechStartup/img4-min.jpg">Image
                            5</a>
                        <a href="assets/img/events/KtechStartup/img5-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/KtechStartup/img6-min.jpg">Image
                            7</a>
                        <a href="assets/img/events/KtechStartup/img-min.jpg">Image
                            8</a>
                        <a href="assets/img/events/KtechStartup/img8-min.jpg">Image
                            9</a>
                        <a href="assets/img/events/KtechStartup/img10-min.jpg">Image
                            10</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" id="event-card" style="margin: 0">
                        <div class="card-text">
                            <div class="item-image">
                                <div class="item-image">
                                    <a href="#gallery-9" class="item-image" data-toggle="tooltip" data-placement="top"
                                        title="Click on images to view gallery">
                                        <img data-src="https://d33wubrfki0l68.cloudfront.net/bcc2865722689a6221c8bb7870ef2d2961f6b6f8/9c4cc/assets/img/events/recruitmentsept19/img1-min.jpg"
                                            class="img-fluid rounded lazy" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <h4 id="blue_text"><b>
                                    Recruitment September 2019</b></h4>
                            <h6 style="font-weight:400; color:rgb(0,101,202);">19<sup class="text-lowercase">th</sup>
                                september 2019</h6>
                            <h5 class="description text-justify">
                                <span>
                                    A recruitment drive was organised to expand our core team. On 19th september, an
                                    online test was conducted on hackerearth platform. The recruitment was for technical
                                    and organisational domains. There were multiple choice questions related to machine
                                    learning, data structures and three programming questions for the technical domain.
                                </span>
                                <span class="collapse" id="desc10">
                                    The participants were given freedom to code in any language of their choice. The
                                    organisational role aspirants were tested on their managerial skills. Around 44 were
                                    shortlisted for the interview round. The shortlisted candidates were interviewed on
                                    21 st september by their respective domain panels . Henceforth by the end of this
                                    interview ,it led us to select 13 new ambitious learners with would continue the
                                    journey with us in DSC JSSSTU.
                                </span>
                                <button onclick="changeBtn(this)"
                                    class="view-more-container--view-more__collapse-btn--1bVN9 btn-link"
                                    data-toggle="collapse" data-target="#desc10">+ see more</button>
                            </h5>
                        </div>
                    </div>
                    <div id="gallery-9" class="d-none">
                        <a href="assets/img/events/RecruitmentSept19/img1-min.jpg">Image
                            1</a>
                        <a href="assets/img/events/RecruitmentSept19/img2-min.jpg">Image
                            2</a>
                        <a href="assets/img/events/RecruitmentSept19/img3-min.jpg">Image
                            3</a>
                        <a href="assets/img/events/RecruitmentSept19/img4-min.jpg">Image
                            4</a>
                        <a href="assets/img/events/RecruitmentSept19/img5-min.jpg">Image
                            5</a>
                        <a href="assets/img/events/RecruitmentSept19/img6-min.jpg">Image
                            6</a>
                        <a href="assets/img/events/RecruitmentSept19/img7-min.jpg">Image
                            7</a>
                    </div>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <hr />
        <div id="footer">
            <a href="#top" id="top-button" class="top">
                <i class="material-icons" style=" font-size: 30px;">
                    keyboard_arrow_up
                </i>
            </a>
            <div class="container" style="padding-top: 20px;">
                <div class="row">
                    <div class="offset-md-1 col-md-5">
                        <div class="share-social">
                            <span>Keep In Touch
                                <a id="social_button" href="https://www.instagram.com/dscjssstu/" target="_blank"><i
                                        class="fa fa-instagram"></i></a><a>&nbsp;</a>
                                <a id="social_button" href="https://github.com/dsc-jssstu" target="_blank"><i
                                        class="fa fa-github"></i></a><a>&nbsp;</a>

                                <a id="social_button" href="https://www.facebook.com/dsc.jsstu.3" target="_blank"><i
                                        class="fa fa-facebook"></i></a><a>&nbsp;</a>

                                <a>&nbsp;</a>
                            </span>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-5">
                        <div class="share-social">
                            <span><a href="mailto:dsc.jssstu@gmail.com">
                                    <h4>Email Us :
                                        <b id="blue_text">dsc.jssstu@gmail.com</b></h4>
                                </a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-4">
                <div class="row">
                    <div class="offset-md-1 col-md-5 col-sm-12 footer-details">
                        <span><b>ABOUT</b></span>
                        <p>
                            <a href="https://developers.google.com/" id="details_redirect" target="_blank">Google
                                Developers</a><br />

                            <a href='team.html' id='details_redirect'>Meet the Team</a><br />
                        </p>
                    </div>
                    <div class="offset-md-1 col-md-5 col-sm-12 footer-details">
                        <span><b>OTHER LINKS</b></span>
                        <p>
                            <a href="#!" id="details_redirect">Call for
                                Speakers</a><br />
                            <a href="https://docs.google.com/document/d/131WS_5-IBXdvj_mfNogbSoc5fOBfJx50k2YmHrXkMt4/edit?usp=sharing"
                                id="details_redirect" target="_blank">Community Guidelines</a><br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="bg-light" style="padding: 15px;">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="https://d33wubrfki0l68.cloudfront.net/07d038c64e97a90ebc7fd3be0be5e9884f4bd005/9fd8e/assets/img/logos/dsc_linear.png"
                                alt="dsc-logo" />
                        </div>
                        <div class="col-md-6 copyright text-dark"
                            style="font-family: 'Open Sans', sans-serif; font-size:14px;">
                            &copy; 2019 <b>DSC JSSSTU</b> <span class="hide-bar"> | </span><a id="details_redirect"
                                href="#"><b>Developed with <svg class="heart" viewBox="0 0 32 29.6">
                                        <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                                            c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
                                    </svg></b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js')
                .then(function () { console.log("Service Worker Registered"); });
        }
    </script> -->
    <!--   Core JS Files   -->
    <script src='https://d33wubrfki0l68.cloudfront.net/bundles/e6369747b6375000da3b7fe62082ec5ea502ba90.js'></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src='https://d33wubrfki0l68.cloudfront.net/bundles/c37fd2105a7083bdcd78dd8356e36b8bdadfacbe.js'></script>

    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- !-- Magnific Popup core JS file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
        integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"
        integrity="sha256-ZPvH+DBiXs1v8yk7lmZa6+wqm+kzbwL9R1COtZ9+wjo=" crossorigin="anonymous"></script>
    <script
        src='https://d33wubrfki0l68.cloudfront.net/js/048113a4571287def76765b91f7f01eb69c92e49/assets/assets-custom/loaderanddarkmode.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>
    <script>
        setTimeout(() => {
            $('.alert').hide();
        }, 3000)

        function changeBtn(param) {
            if (param.innerHTML == '+ see more')
                setTimeout(() => {
                    param.innerHTML = '- see less'
                }, 300)
            else
                setTimeout(() => {
                    param.innerHTML = '+ see more'
                }, 300)
        }

        $(document).ready(function () {

            $('a.item-image').on('click', function (event) {
                event.preventDefault();

                var gallery = $(this).attr('href');

                $(gallery).magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    gallery: {
                        enabled: true
                    }
                }).magnificPopup('open');
            });

        });
        $(function () {
            $('.lazy').lazy({
                combined: true,
                delay: 000,
                effect: "fadeIn",
                effectTime: 1000,
                threshold: 0
            });
        });
        new WOW().init();
    </script>
</body>

</html>
