<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="DYJ8Xt0pxjjRZkt7ZtwlHBrrkWm9ModASzPrwZ1cZUg" />
    <meta name="description" content="Developer Student Clubs - by Google Developers
    JSS Science and Technology University, Mysore
    Google Developers 2020">
    <meta name="keywords" content="dsc,dscindia,dscjssstu,dscjssmysore,jssstu">
    <meta name="author" content="DSC JSSSTU">
    <meta property="og:title" content="DSC JSSSTU">
    <meta property="og:description" content="Developer Student Clubs - by Google Developers
    JSS Science and Technology University, Mysore">
    <meta property="og:image" content="favicon.png">
    <meta property="og:url" content="https://dscjssstu.netlify.com/">
    <!-- Favicons -->
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <meta itemprop="image" content="favicon.png">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <title>
        DSC JSSSTU
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel='stylesheet'
        href='https://d33wubrfki0l68.cloudfront.net/css/4e59bc3c17ed530a7568243c6b35d24837206cb6/assets/css/material-kit.css' />
    <!-- Documentation extras -->
    <link rel='stylesheet'
        href='https://d33wubrfki0l68.cloudfront.net/css/11e83f5425f85b3ba34afeb0ac4aa30836c155c5/assets/assets-custom/demo.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel='stylesheet'
        href='https://d33wubrfki0l68.cloudfront.net/css/5a9eaf87ddf5c77150ce3bf98105c9dd8a659c48/assets/assets-custom/css/footer.css' />
    <link rel="stylesheet" href="https://unpkg.com/flickity%402.0.11/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity%402.0.11/dist/flickity.pkgd.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
        integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous" />
    <style>
        body {
            overflow-x: hidden;
        }

        #top-button {
            font-size: 20px;
            transition: 0.3s ease;
        }

        .tab {
            margin-left: 40px;
        }

        /*
        .grid-item { width: 25%; }
        .grid-item--width2 { width: 50%; }*/
        .img-fluid {
            border-radius: 5px 5px;
        }
    </style>


    <!-- iframe removal -->
</head>

<div id="preloader">
    <div id="status">
        <div class="showbox">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
    </div>
</div>

<body class="landing-page" name="top" id="top">
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100"
        id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="index.html"><span id="gdg-logo"><img
                            src="https://d33wubrfki0l68.cloudfront.net/58f92715e27dd6332fc56c0acde5d772734ec17d/b31ed/assets/img/logos/dsc_header.png"
                            height="30" /> </a>
                <button style="color:rgb(120,120,120)" class="navbar-toggler" type="button" data-toggle="collapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" data-page="index" class="nav-link">
                            <span><b id="blue_text">Home</b></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='events.html' data-page='events' class='nav-link'>
                            <span><b id="header_text">Events</b></span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href='mpt.html' data-page='leader-board' class='nav-link'>
                            <span><b id="header_text">MPT</b></span>
                        </a>
                    </li> </!-->
                    <!-- <li class="nav-item">
                        <a href="./resources.html" data-page="resources" class="nav-link">
                            <span><b id="header_text">Resources</b></span>
                        </a>
                    </!-->
                    <li class="nav-item">
                        <a href='projects.html' data-page='projects' class='nav-link'>
                            <span><b id="header_text">Projects</b></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='team.html' data-page='team' class='nav-link'>
                            <span><b id="header_text">Team</b></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#!" id="bg-toggle" class="nav-link">
                            <span class="text-toggle"><b id="font-weight-bold header_text">Dark Mode</b></span>
                        </a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link">
                             <span ><b id="header_text">Blog</b></span>
                        </a>
                    </li> -->
                    <!--  <li class="nav-item">
                        <a href="./about" data-page="about" class="nav-link">
                             <span ><b id="header_text">About</b></span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                      <!-- Please Look Into This! Should it be admin -->
                        <a target="blank" class="nav-link" href="https://forms.gle/fhsA3NQwyLvDyPH17">
                            <span class="btn" id="joinbtn"><b id="header_text">Admin</b></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter" id='home-view' style="max-height: 65vh;">
        <div class="container">
            <div class="row" style="height: 100%;">
                <div class="col-md-12" id="hometop-container">
                    <!-- <p>&nbsp;</p>
                    <img class="img-fluid" src="assets\img\logos\dsc_logo.png" width="200" />
                    <h1 class="tag_title">Developer Student Club</h1>
                    <h3 class="tag_details"><b>JSS Science and Technology University</b></h3>
                    <p>&nbsp;</p>
                    <p>
                        <a target="blank" href="./gcpcc.html">
                            <button class="btn btn-primary" id="buttons"><b>GCP Crash Course</b></button></a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
    <section id="page-header" style="max-height: 35vh;">
        <div class="container">
            <div class="row p-2">
                <div class="col-lg-5 col-sm-6" id="jssstuLogo" style="max-width: 50%;">
                    <img src="https://d33wubrfki0l68.cloudfront.net/c2aef9043769a01a9c3669e62c47422a27ad5985/d9437/assets/img/kit/jss_stu_master_logo.png"
                        class="img-fluid" alt="">
                </div>
                <div class="offset-lg-2 col-lg-5 col-sm-6 mt-2" id="dscLogo" style="max-width: 50%;">
                    <img src="https://d33wubrfki0l68.cloudfront.net/981a1f42efb275c0eb1bf3d22cbcd4feba6cf195/d5c72/assets/img/kit/dsclogo.png"
                        class="img-fluid" alt="">
                </div>
            </div>
        </div>
        </div>
    </section>
    <div class="main main-raised" style="margin-top: 0;">
        <div class="container">
            <p>&nbsp;</p>
            <div class="row mt-4 wow fadeIn" data-wow-delay="0.2s" style="text-align:left;">
                <!--First column-->
                <div class="col-lg-6">
                    <!--Card-->
                    <h2 class="title" id="tracks"><b>About The Program</b></h2>
                    <p>&nbsp;</p>
                    <span id="mobile" class="icon"><i class="material-icons">
                            gesture
                        </i></span><span class="about_title_track" style="color:rgb(54, 53, 53);">What we do?</span>
                    <!--Card-->
                    <p>&nbsp;</p>
                    <p>
                    <h5 class="description">Google collaborates with university students who are passionate about
                        growing developer communities.</h5>
                    </p>
                    <p>
                    <h5 class="description text-justify">Developer Student Club powered by Google Developers is a
                        Technical
                        Club under the Department of <a href="http://jssstuniv.in/departments-CS" target="_blank"
                            id="blue_text">Computer Science &
                            Engineering</a>
                        is an initiative to
                        grow their
                        knowledge on developer technologies and more through peer to peer workshops and events, and gain
                        relevant industry experience.</h5>
                    </p>


                    <p>
                        <a target="blank" href="https://forms.gle/fhsA3NQwyLvDyPH17">
                            <button class="btn btn-primary" id="buttons"><b>Sign Up</b></button>
                        </a>
                    </p>
                    <!--/.Card-->

                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s" style="text-align:left;">
                    <!--Card-->
                    <!-- <h2 class="title" id="tracks"><b>&nbsp;</b></h2> -->
                    <!-- <p>&nbsp;</p> -->
                    <img class="img-fluid"
                        src="https://d33wubrfki0l68.cloudfront.net/8eb82534f97d860979b44061e93d512d68223ee8/c91ef/assets/img/kit/event.png"
                        width="100%" />
                </div>
                <!--/.Second column-->
            </div>
            <!--/.First row-->
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="row mt-2 wow zoomIn" data-wow-delay="0.2s" style="text-align:left;">
                <!--First column-->
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                    <!--Card-->
                    <h3 class="title" id="tracks"><b>What DSC JSSSTU does?</b></h3>
                    <p>&nbsp;</p>
                    <p>
                    <h5 class="description">Developer Student Club JSSSTU is inspired by the Google Developers'
                        Family.</h5>
                    </p>
                    <p>
                    <h5 class="description">The motive is to create a local ecosystem of Developers in and around
                        the Campus. And having fun doing it.</h5>
                    </p>

                    <p>&nbsp;</p>

                    <a class="btn btn-primary btn-fab btn-round" id="social_button1"
                        href="https://www.instagram.com/dscjssstu/" target="_blank"><i
                            class="fa fa-instagram"></i></a><a>&nbsp;</a>
                    <a class="btn btn-primary btn-fab btn-round" id="social_button1"
                        href="https://www.linkedin.com/company/dsc-jssstu" target="_blank"><i
                            class="fa fa-linkedin"></i></a><a>&nbsp;</a>
                    <a class="btn btn-primary btn-fab btn-round" id="social_button1"
                        href="https://github.com/dsc-jssstu" target="_blank"><i
                            class="fa fa-github"></i></a><a>&nbsp;</a>


                    <!--/.Card-->
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-lg-6">
                    <!--Card-->
                    <p>&nbsp;</p>
                    <div class="row">
                        <div class="col-lg-5" id="p1">
                            <p>
                            <h4 class="description"
                                style="font-weight:600; color:rgb(228, 180, 25); padding:8px 4px; background-color:rgba(247, 212, 17, 0.15); border-radius:8px; width:100px; padding-left:9px;">
                                Seminars</h4>
                            </p>
                            <p>
                            <h5 class="description">Get updated with the latest news and announcements.</h5>
                            </p>
                        </div>
                        <div class="col-lg-5 " id="p4">
                            <p>
                            <h4 class="description"
                                style="font-weight:600; color:rgb(12, 80, 182); padding:8px 4px; background-color:rgba(12, 80, 182,0.15); border-radius:8px; width:120px; padding-left:9px;">
                                Study Jams</h4>
                            </p>
                            <p>
                            <h5 class="description">Hands-on experience with the community members.</h5>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5" id="p1">
                            <p>
                            <h4 class="description"
                                style="font-weight:600; color:rgb(223, 77, 19); padding:8px 4px; background-color:rgba(223, 77, 19,0.15); border-radius:8px; width:90px; padding-left:9px;">
                                Projects</h4>
                            </p>
                            <p>
                            <h5 class="description">Projects with a social impact that help a lot of people.</h5>
                            </p>
                        </div>
                        <div class="col-lg-5 " id="p4">
                            <p>
                            <h4 class="description"
                                style="font-weight:600; color:rgb(11, 184, 83); padding:8px 4px; background-color:rgba(11, 184, 83,0.15); border-radius:8px; width:125px; padding-left:9px;">
                                Hackathons</h4>
                            </p>
                            <p>
                            <h5 class="description">Dream. Explore. Wonder. Build it Together.</h5>
                            </p>
                        </div>
                    </div>
                    <!--/.Second column-->
                </div>
                <!--/.First row-->
                <p>&nbsp;</p>

            </div>
            <!--/.First row-->
            <div class="row mt-2 wow fadeIn" data-wow-delay="0.2s" style="text-align:left;">

                <!--Second column-->
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s" style="text-align:left;">
                    <!--Card-->

                    <img class="img-fluid"
                        src="https://d33wubrfki0l68.cloudfront.net/d6334d0563a22dff79fb948fe1f92be19036af5c/4ecbd/assets/img/kit/team1.jpg"
                        width="100%" />
                </div>
                <!--/.Second column-->

                <!--First column-->
                <div class="col-lg-6">
                    <!--Card-->
                    <p>&nbsp;</p>
                    <span id="mobile" class="icon"><i class="material-icons">
                            whatshot
                        </i></span><span class="about_title_track" style="color:rgb(54, 53, 53);">The Team</span>
                    <!--Card-->
                    <p>&nbsp;</p>
                    <p>
                    <h5 class="description text-justify">These are the amazing bunch of people who make the
                        community what it is.
                        Who are the Backbone of Developer Student Club, JSSSTU and ensure that we can forge ahead</h5>
                    </p>
                    <p>
                    <h5 class="description text-justify">They take the time out from their daily grind to give back
                        to the
                        members and empower them to become bigger (Metaphorically). And Better.</h5>
                    </p>




                    <p><a href='team.html' target='blank'><span class="description" id="details_redirect"><b>Meet The
                                    Team</b></span></a>&nbsp;&nbsp;
                    </p>
                    <p>
                    </p>

                    <!--/.Card-->

                </div>
                <!--/.First column-->

            </div>


            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <div class="row mt-2 wow">
                <!--First column-->
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.2s" id="home-cards">

                    <!--Card-->
                    <div class="card" style="margin: 5px 0">
                        <!--Card image-->
                        <img class="img-fluid"
                            src="https://d33wubrfki0l68.cloudfront.net/6319c0c5e21d179203440fac4544e232db9d25a7/93f45/assets/img/kit/_eve.png"
                            alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="about_title_track"
                                style="margin-left:-8px; font-family: 'Open Sans', sans-serif;"><b>Events</b></h4>
                            <!--Text-->
                            <h5 class="description" style=" font-family: 'Open Sans', sans-serif;">Attend Study Jams/
                                Hackathons/ Developer Conferences to learn more about the latest technologies.</h5>
                            <div class="text-center">
                                <a href='events.html' class='btn btn-primary m-auto' id='buttons'>Learn More</a>
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.4s" id="home-cards">

                    <!--Card-->
                    <div class="card" style="margin: 5px 0">

                        <!--Card image-->
                        <img class="img-fluid"
                            src="https://d33wubrfki0l68.cloudfront.net/824bce3a5a18de496bfb3dba1ee134a7de1dce0b/57789/assets/img/kit/speaker.svg"
                            alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="about_title_track"
                                style="margin-left:-8px; font-family: 'Open Sans', sans-serif;"><b>Call For Speakers</b>
                            </h4>
                            <!--Text-->
                            <h5 class="description" style=" font-family: 'Open Sans', sans-serif;">Interested in being a
                                Speaker at one of our events? Just drop us your Proposal.</h5>
                            <div class="text-center">
                                <a href="https://dscjssstu.typeform.com/to/V2sUUP" target="_blank"
                                    class="btn btn-primary" id="buttons" id="buttons">Send
                                    Proposal</a>
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s" id="home-cards">

                    <!--Card-->
                    <div class="card" style="margin: 5px 0">

                        <!--Card image-->
                        <img class="img-fluid"
                            src="https://d33wubrfki0l68.cloudfront.net/39eb051f626b9bee84c726fb19194214ae9f6cc7/d6fd1/assets/img/kit/sponsor.png"
                            alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="about_title_track"
                                style="margin-left:-8px; font-family: 'Open Sans', sans-serif;"><b>Sponsorships</b></h4>
                            <!--Text-->
                            <h5 class="description" style=" font-family: 'Open Sans', sans-serif;">Get Brand exposure
                                and elevate your business identity within the Community. </h5>

                            <div class="text-center">
                                <a href="https://dscjssstu.typeform.com/to/qyey9L" target="_blank"
                                    class="btn btn-primary" id="buttons" id="buttons">Send
                                    proposal</a>
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--/.Third column-->
            </div>
            <!--/.First row-->
            <p>&nbsp;</p>
            <div class="row mt-4 wow fadeIn" data-wow-delay="0.2s">
                <div class="col-lg-6" style="text-align:left;">
                    <h3 class="title" id="tracks"><b>Partners</b></h3>
                    <p>&nbsp;</p>
                    <h5 class="description text-justify">
                        Thank you to our Partners for their support towards the community. If you want to be showcased
                        through DSC JSSSTU, contact <a href="mailto:dsc.jssstu@gmail.com" id="blue_text"><b>Here</b></a>
                        for Sponsorship details.
                    </h5>
                </div>
                <div class="col-lg-6" style="text-align:center;">
                    <h4 class="title" id="tracks"><b>&nbsp;</b></h4>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6" id="p1">
                                <img style="max-width:150px;" class="img-fluid"
                                    src="https://d33wubrfki0l68.cloudfront.net/d52c22d323c0f2970dc5285aa17b521c86d5ba03/fef59/assets/img/logos/google_dev.png" />
                            </div>

                            <!-- <div class="col-md-6 col-sm-6 col-xs-6" id="p4">
                                <img style="max-width:150px;" class="img-fluid"
                                    src="assets/img/kit/full-res/gdg-logo.png" />
                            </div> -->
                        </div>
                    </div>
                </div>

                <!--/.First row-->
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="row mt-5 wow fadeIn" style="text-align:center;">
                    <div class="col-lg-12" style="text-align:center;">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
                            data-pause="hover" data-keyboard="true" data-touch="true" data-timeout="100">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="carousel-wrapper">
                                        <h1 id="orange_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                        <img src="https://d33wubrfki0l68.cloudfront.net/819379b9c167409e458b36482a59eb228596c273/4b16e/assets/img/logos/exploreml.png"
                                            height="40px" />
                                        <h4 class="description">Explore Machine Learning (ML) is a Google-sponsored
                                            program for university students to get started with Machine Learning. The
                                            curriculum offers 3 tracks of machine learning content (Beginner,
                                            Intermediate, Advanced) and relies on university student facilitators to
                                            train other students on campus.</h4>
                                        <h1 id="orange_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                        <h4 class="description"><b>Google AI | Explore ML</b></h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-wrapper">
                                        <h1 id="blue_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                        <img src="https://d33wubrfki0l68.cloudfront.net/4e6c8509967015a695254fa7c4c3d35f449bc401/63e43/assets/img/kit/google_cloud.png"
                                            height="40px" />
                                        <h4 class="description">#GCPCrashCourse is a Cloud based learning campaign that
                                            focuses on building Learning Paths for students across 3 distinct Tracks.
                                            With <span id="blue_text">#GCPCrashCourse</span> you get to learn dedicated
                                            topics across three complete tracks, namely - Application Development, Data
                                            & Machine Learning.</h4>
                                        <h1 id="blue_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>

                                        <a href='gcpcc.html' target='blank'><b>
                                                <h4 class="description">Click to Sign Up for <span
                                                        id="blue_text">#GCPCrashCourse</span>
                                            </b></h4></a>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-wrapper">
                                        <h1 id="red_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                        <img src="https://miro.medium.com/max/1400/1*lDi1bp7b37khnH3tPVoLuQ.png"
                                            height="40px" />
                                        <h4 class="description">Cloud Fest '19 is an occasion which promises to be a
                                            celebration of ideas, learning, productive discussions, and the conception
                                            of unique solutions to critical real-world problems using cloud computing.
                                            It will start off with a keynote sessions by the speakers, and ending with a
                                            hands-on session for the participants. </h4>
                                        <h1 id="red_text" style="font-family: 'Be Vietnam', sans-serif;">"</h1>
                                        <h4 class="description"><b>Coming Soon</b></h4>
                                    </div>
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span>&nbsp;</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span>&nbsp;</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <div class="row mt-5 wow fadeIn" data-wow-delay="0.2s">
                <!--Second column-->
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.2s" style="text-align:left;">
                    <!--Card-->

                    <img class="img-fluid"
                        src="https://d33wubrfki0l68.cloudfront.net/08fb24aeb617893da637ad6229c5a59f85994381/6f4e0/assets/img/kit/jssstu.png"
                        width="100%" />
                    <p>&nbsp;</p>
                </div>
                <!--/.Second column-->

                <!--First column-->
                <div class="col-lg-7">
                    <!--Card-->

                    <h3 class="title">About JSSSTU</h3>
                    <!--Card-->
                    <p>&nbsp;</p>
                    <p>
                    <h5 class="description text-justify">JSS Science and Technology University, popularly known as
                        SJCE or
                        JSSSTU, is a private university located in Mysore, Karnataka, India. SJCE was Established in
                        1963. JSS S&T University is committed to deliver high quality educational opportunities for
                        youth and transform not only its neighborhood but offer courses to equip aspiring youth to
                        meet the global needs of industry in every sector.
                    </h5>
                    </p>

                    <p><a href="http://jssstuniv.in/" target="blank"><span class="description"
                                id="details_redirect"><b>Learn More</b></span></a>&nbsp;&nbsp;
                    </p>

                </div>
                <!--/.First column-->

            </div>


            <div class="row mt-5 wow fadeIn" data-wow-delay="0.2s">
                <!--Second column-->
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.2s" style="text-align:left;">
                    <!--Card-->

                    <img class="img-fluid"
                        src="https://d33wubrfki0l68.cloudfront.net/34befad6b2990f7fdf15cdf5c8d3d2365d8e3637/b43e1/assets/img/kit/csedept.jpg" />
                    <p>&nbsp;</p>
                </div>
                <!--/.Second column-->
                <!--First column-->
                <div class="col-lg-7">
                    <!--Card-->
                    <h3 class="title">About CSE Department</h3>
                    <!--Card-->
                    <p>&nbsp;</p>
                    <p>
                    <h5 class="description text-justify">The inception of Department of Computer Science and
                        Engineering (CS&E)
                        was one among the first to be established in the State of Karnataka in the year 1982.
                        Our mission is to create ideas that deepen and advance our understanding of the realm of
                        Computer Science and Engineering and with those ideas to develop innovative, principled, and
                        insightful leaders who change the world. department is actively involved in International
                        collaborative research and also in sponsored research projects.
                    </h5>
                    </p>

                    <p><a href="http://jssstuniv.in/departments-CS" target="blank"><span class="description"
                                id="details_redirect"><b>Learn More</b></span></a>&nbsp;&nbsp;
                    </p>

                </div>
                <!--/.First column-->

            </div>
            <!--/.First row-->
            <p>&nbsp;</p>
        </div>
        <div>
            <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-c58b36c6-22bb-4bb2-8371-41964e7b09a5"></div> -->
            <!-- <div id="pixlee_container"></div>
            <script
                type="text/javascript">window.PixleeAsyncInit = function () { Pixlee.init({ apiKey: 'U7tJ7-F8LLgeLKmRFOwT' }); Pixlee.addSimpleWidget({ widgetId: '27911' }); };</script>
            <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script> -->
        </div>
    </div>

    </div>
    <div id="location" width="100%">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31182.937796960206!2d76.5888086!3d12.3247225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ad797cbfc78d07a!2sJSS%20Science%20and%20Technology%20University%2C%20Mysuru.!5e0!3m2!1sen!2sin!4v1571163363597!5m2!1sen!2sin"
            width="1800" height="470" frameborder="0" style="border:0;" allowfullscreen=""></iframe> </div>
    <div id="footer">
        <a href="#top" id="top-button" class="top">
            <i class="material-icons" style=" font-size: 30px;">
                keyboard_arrow_up
            </i>
        </a>
        <div class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="offset-md-1 col-md-5">
                    <div class="share-social">
                        <span>Keep In Touch
                            <a id="social_button" href="https://www.instagram.com/dscjssstu/" target="_blank"><i
                                    class="fa fa-instagram"></i></a><a>&nbsp;</a>
                            <a id="social_button" href="https://github.com/dsc-jssstu" target="_blank"><i
                                    class="fa fa-github"></i></a><a>&nbsp;</a>

                            <a id="social_button" href="https://www.linkedin.com/company/dsc-jssstu" target="_blank"><i
                                    class="fa fa-linkedin"></i></a><a>&nbsp;</a>

                            <a>&nbsp;</a>
                        </span>
                    </div>
                </div>
                <div class="offset-md-1 col-md-5">
                    <div class="share-social">
                        <span><a href="mailto:dsc.jssstu@gmail.com">
                                <h4>Email Us :
                                    <b id="blue_text">dsc.jssstu@gmail.com</b></h4>
                            </a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-4">
            <div class="row">
                <div class="offset-md-1 col-md-5 col-sm-12 footer-details">
                    <span><b>ABOUT</b></span>
                    <p>
                        <a href="https://developers.google.com/" id="details_redirect" target="_blank">Google
                            Developers</a><br />

                        <a href='team.html' id='details_redirect'>Meet the Team</a><br />
                    </p>
                </div>
                <div class="offset-md-1 col-md-5 col-sm-12 footer-details">
                    <span><b>OTHER LINKS</b></span>
                    <p>
                        <a href="#!" id="details_redirect">Call for
                            Speakers</a><br />
                        <a href="https://docs.google.com/document/d/131WS_5-IBXdvj_mfNogbSoc5fOBfJx50k2YmHrXkMt4/edit?usp=sharing"
                            id="details_redirect" target="_blank">Community Guidelines</a><br />
                    </p>
                </div>
            </div>
        </div>
        <div class="bg-light" style="padding: 15px;">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://d33wubrfki0l68.cloudfront.net/07d038c64e97a90ebc7fd3be0be5e9884f4bd005/9fd8e/assets/img/logos/dsc_linear.png"
                            alt="dsc-logo" />
                    </div>
                    <div class="col-md-6 copyright text-dark"
                        style="font-family: 'Open Sans', sans-serif; font-size:14px;">
                        &copy; 2019 <b>DSC JSSSTU</b> <span class="hide-bar"> | </span><a id="details_redirect"
                            href="#"><b>Developed with <svg class="heart" viewBox="0 0 32 29.6">
                                    <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                                                c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
                                </svg></b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--   Core JS Files   -->
    <script src='https://d33wubrfki0l68.cloudfront.net/bundles/e6369747b6375000da3b7fe62082ec5ea502ba90.js'></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src='https://d33wubrfki0l68.cloudfront.net/bundles/c37fd2105a7083bdcd78dd8356e36b8bdadfacbe.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>

    <!-- <script src="assets/assets-custom/index.js"></script> -->
    <script
        src='https://d33wubrfki0l68.cloudfront.net/js/048113a4571287def76765b91f7f01eb69c92e49/assets/assets-custom/loaderanddarkmode.js'></script>

    <script>
        // if ('serviceWorker' in navigator) {
        //     navigator.serviceWorker
        //         .register('/sw.js')
        //         .then(function () { console.log("Service Worker Registered"); });
        // }
        new WOW().init();
    </script>
</body>

</html>
