<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google-site-verification" content="DYJ8Xt0pxjjRZkt7ZtwlHBrrkWm9ModASzPrwZ1cZUg" />
    <meta name="description"
        content="A Google Developers program for university students, with an aim to help students build their development skills. JSS Science and Technology University, Mysore">
    <meta name="keywords" content="dsc,dscindia,dscjssstu,dscjssmysore,jssstu">
    <meta name="author" content="DSC JSSSTU">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="icon" href="favicon.png">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <meta itemprop="image" content="favicon.png">

    <meta property="og:title" content="DSC JSSSTU|Projects">
    <meta property="og:description" content="Developer Student Clubs - by Google Developers
    JSS Science and Technology University, Mysore">
    <meta property="og:image" content="favicon.png">
    <meta property="og:url" content="https://dscjssstu.netlify.com/projects">
    <!-- <link rel=" manifest" href="/manifest.json"> -->
    <title>
        Projects | DSC JSSSTU
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel='stylesheet'
        href='https://d33wubrfki0l68.cloudfront.net/css/4e59bc3c17ed530a7568243c6b35d24837206cb6/assets/css/material-kit.css' />
    <!-- Documentation extras -->
    <link rel='stylesheet'
        href='https://d33wubrfki0l68.cloudfront.net/bundles/342a434afd99ca4c4b77f1b8797092908d7eaa77.css' />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity%402.0.11/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity%402.0.11/dist/flickity.pkgd.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            overflow-x: hidden;
        }

        #top-button {
            font-size: 20px;
            transition: 0.3s ease;
        }

        .grid-item {
            width: 25%;
        }

        .grid-item--width2 {
            width: 50%;
        }

        */ .img-fluid {
            border-radius: 5px 5px;
        }

        .dot {
            height: 0.8em;
            width: 0.8em;
            border-radius: 50%;
            margin-left: 5px;
        }

        #container-projects .card {
            min-height: 490px;
        }

        #container-projects .card .img {
            /* min-height: 150px;
            max-height: 200px; */
            height: 180px;
            background-color: #ffd904a1;
            display: flex;
            justify-content: center;
        }
    </style>
    <!-- iframe removal -->
</head>

<div id="preloader">
    <div id="status">
        <div class="showbox">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
    </div>
</div>

<body class="landing-page" name="top" id="top">
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100"
        id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="index.html"><span id="gdg-logo"><img
                            src="https://d33wubrfki0l68.cloudfront.net/58f92715e27dd6332fc56c0acde5d772734ec17d/b31ed/assets/img/logos/dsc_header.png"
                            height="30" /> </a>
                <button style="color:rgb(120,120,120)" class="navbar-toggler" type="button" data-toggle="collapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href='index.html' data-page='index' class='nav-link'>
                            <span><b>Home</b></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='events.html' data-page='events' class='nav-link'>
                            <span><b id="header_text">Events</b></span>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a href='mpt.html' data-page='leader-board' class='nav-link'>
                            <span><b id="header_text">MPT</b></span>
                        </a>
                    </li>-->
                    <!-- <li class="nav-item">
                        <a href="./resources.html" data-page="resources" class="nav-link">
                            <span><b id="header_text">Resources</b></span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a href="#" data-page="projects" class="nav-link">
                            <span><b id="blue_text">Projects</b></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='team.html' data-page='team' class='nav-link'>
                            <span><b id="header_text">Team</b></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#!" id="bg-toggle" class="nav-link">
                            <span class="text-toggle"><b id="font-weight-bold">Dark Mode</b></span>
                        </a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link">
                             <span ><b id="header_text">Blog</b></span>
                        </a>
                    </li> -->
                    <!--  <li class="nav-item">
                        <a href="./about" data-page="about" class="nav-link">
                             <span ><b id="header_text">About</b></span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a target="blank" class="nav-link"
                            href="https://docs.google.com/forms/d/e/1FAIpQLScYPmy9yb9cvVY9-mq5eJtwVl2JT9ywVz7JWk8yv4tRBOEE_g/viewform?usp=sf_link">
                            <span class="btn" id="joinbtn"><b id="header_text">Sign Up</b></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main main-raised" style="margin-top: 0;">
        <div class="container">
            <div class="container-page">
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <p>&nbsp;</p>
                        <h2 class="title">Projects</h2>
                        <h5 class="description">Learing goes hand-in-hand with building new and cool stuff. And here, we
                            keep building stuff all the time. Here are a few of them.</h5>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-lg-6" style="text-align:center;">
                        <img class="img-fluid"
                            src="https://d33wubrfki0l68.cloudfront.net/4ca4b8ee50e95fb46c02681f286963aa6fa94c9f/4ead2/assets/img/kit/dunkathon.png" />
                    </div>
                </div>

                <div class="container no-padding container-sub-page">
                    <div id="container-projects" class="row justify-content-center">
                    </div>
                </div>
            </div>



        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <hr />
        <div id="footer">
            <a href="#top" id="top-button" class="top">
                <i class="material-icons" style=" font-size: 30px;">
                    keyboard_arrow_up
                </i>
            </a>
            <div class="container" style="padding-top: 20px;">
                <div class="row">
                    <div class="offset-md-1 col-md-5">
                        <div class="share-social">
                            <span>Keep In Touch &emsp;
                                <a id="social_button" href="https://www.instagram.com/dscjssstu/" target="_blank"><i
                                        class="fab fa-instagram"></i></a><a>&emsp;</a>
                                <a id="social_button" href="https://github.com/dsc-jssstu" target="_blank"><i
                                        class="fab fa-github"></i></a><a>&emsp;</a>

                                <a id="social_button" href="https://www.facebook.com/dsc.jsstu.3" target="_blank"><i
                                        class="fab fa-facebook"></i></a><a>&emsp;</a>

                                <a>&emsp;</a>
                            </span>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-5">
                        <div class="share-social">
                            <span><a href="mailto:dsc.jssstu@gmail.com">
                                    <h4>Email Us :
                                        <b id="blue_text">dsc.jssstu@gmail.com</b></h4>
                                </a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-4">
                <div class="row">
                    <div class="offset-md-1 col-md-5 col-sm-12 footer-details">
                        <span><b>ABOUT</b></span>
                        <p>
                            <a href="https://developers.google.com/" id="details_redirect" target="_blank">Google
                                Developers</a><br />

                            <a href='team.html' id='details_redirect'>Meet the Team</a><br />
                        </p>
                    </div>
                    <div class="offset-md-1 col-md-5 col-sm-12 footer-details">
                        <span><b>OTHER LINKS</b></span>
                        <p>
                            <a href="#!" id="details_redirect">Call for
                                Speakers</a><br />
                            <a href="https://docs.google.com/document/d/131WS_5-IBXdvj_mfNogbSoc5fOBfJx50k2YmHrXkMt4/edit?usp=sharing"
                                id="details_redirect" target="_blank">Community Guidelines</a><br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="bg-light" style="padding: 15px;">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="https://d33wubrfki0l68.cloudfront.net/07d038c64e97a90ebc7fd3be0be5e9884f4bd005/9fd8e/assets/img/logos/dsc_linear.png"
                                alt="dsc-logo" />
                        </div>
                        <div class="col-md-6 copyright text-dark"
                            style="font-family: 'Open Sans', sans-serif; font-size:14px;">
                            &copy; 2019 <b>DSC JSSSTU</b> <span class="hide-bar"> | </span><a id="details_redirect"
                                href="#"><b>Developed with <svg class="heart" viewBox="0 0 32 29.6">
                                        <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                                            c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
                                    </svg></b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js')
                .then(function () { console.log("Service Worker Registered"); });
        }
    </script> -->
    <!--   Core JS Files   -->
    <script src='https://d33wubrfki0l68.cloudfront.net/bundles/e6369747b6375000da3b7fe62082ec5ea502ba90.js'></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src='https://d33wubrfki0l68.cloudfront.net/bundles/c37fd2105a7083bdcd78dd8356e36b8bdadfacbe.js'></script>

    <!-- <script src="assets/assets-custom/index.js"></script> -->

    <script
        src='https://d33wubrfki0l68.cloudfront.net/js/048113a4571287def76765b91f7f01eb69c92e49/assets/assets-custom/loaderanddarkmode.js'></script>
    <script>
        $('document').ready(function () {
            function getLinks(links) {
                var result = '';
                links.forEach(function (link) {
                    if (link.linkType == 'github') {
                        result += '<li style="color:rgb(0,101,202);"><a id="social_link1" href="' +
                            link.url +
                            '" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>';
                    }
                    else if (link.linkType == 'website') {
                        result += '<li style="color:rgb(0,101,202);"><a id="social_link1" href="' +
                            link.url +
                            '" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>';
                    }
                    else if (link.linkType == 'youtube') {
                        result += '<li style="color:rgb(0,101,202);"><a id="social_link1" href="' +
                            link.url +
                            '" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>';
                    }
                    else if (link.linkType == 'playStore') {
                        result += '<li style="color:rgb(0,101,202);"><a id="social_link1" href="' +
                            link.url +
                            '" target="_blank"><i class="fab fa-google-play" aria-hidden="true"></i></a></li>';
                    }
                });
                return result;
            }

            function getColour(project) {
                var colour = "";

                switch (project.category) {
                    case "Android": colour = "rgb(13, 243, 90)";
                        break;

                    case "Cloud": colour = "rgb(250, 67, 5)";
                        break;

                    case "AR": colour = "rgb(133, 7, 235)";
                        break;

                    case "Web": colour = "rgb(0,101,202)";
                        break;

                    case "Firebase": colour = "rgb(255, 201,14)";
                        break;

                    case "Flutter": colour = "rgb(2,134,204)";
                        break;

                    default: colour = "rgb(255, 201,14)";
                        break;
                }

                return colour;
            }

            function getTemplate(project) {
                var template =
                    '                                                                                                                                               \
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 parent-card">                                                                                  \
                    <div class="card" data-id="' +
                    project.id +
                    '"> \
                            <div class="img">                                                                                                                   \
                                <img src="' +
                    project.profilePicture +
                    '" alt="" class="img-fluid">\
                    </div> \
                    <div class="box card-body">\
                            <h2 style="font-weight:400;" id="blue_text">' +
                    project.fullName +
                    '</h2>                                                                                                \
                     <p class="description mb-2"><b>' +
                    project.category.split('.')[0] +
                    '</b><span class="dot" style="background :' + getColour(project) + '";></span></p>            <p class="about"> ' + project.bio + '</p>                                                                               \
                            <span class="project-social mt-4">                                                                                                       \
                                <ul class="mt-5">' +
                    getLinks(project.links) +
                    '</ul>                                                                                         \
                            </span>                                                                                                                             \
                        </div>                                                                                                   </div>                               \
                    </div>                                                                                                                                      \
                </div>                                                                                                                                          \
                '
                return template;
            }

            var html = '';
            $.getJSON('./assets/json/projects.json', function (projects) {
                projects.forEach(function (project) {
                    html += getTemplate(project);
                });
                $('#container-projects').append(html);
            });

        });
        // $(function () {
        //     $('.lazy').lazy({
        //         combined: true,
        //         delay: 5000
        //     });
        // });
    </script>
</body>

</html>
