.main-image{
  width: 30vw;
  min-width: 350px;
}

.main-text-holder{
  float:left;
}

.container-main{
  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../images/after-landing.svg') center center fixed;
  background-size:cover;
}

.dark .container-main{
  background: linear-gradient(rgba(32,32,32,.9), rgba(32,32,32,.9)), url('../images/after-landing-dark.svg') center center fixed;
  background-size:cover;
}

.navbar-dsc-logo{
  display: inline-block;
}

.icons{
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all .6s ease;
}

.icons-expanded{
  transition: all .6s ease;
  max-height: unset;
}



/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .main-image{

      float: left;
      padding-left:15vw;
      width: 350px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .main-image{

      float: left;
      padding-left:15vw;
      width: 350px;
  }
}



/*From Views*/
*,
*::before,
*::after {
box-sizing: border-box;
}

.container{
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

@media (min-width: 576px) {
.container {
  max-width: 540px;
}
}

@media (min-width: 768px) {
.container {
  max-width: 720px;
}
}

@media (min-width: 992px) {
.container {
  max-width: 960px;
}
}

@media (min-width: 1200px) {
.container{
  max-width: 1140px;
}
}

.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.no-gutters {
margin-right: 0;
margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
padding-right: 0;
padding-left: 0;
}

.col-md-4, .col-md-6, .col-md-8, .col-md-12,
.col-xl-4, .col-xl-12{
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}

@media (min-width: 768px) {
.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-md-12 {
  margin:auto;
}
}

@media (min-width: 1200px) {
.col-xl-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-xl-12 {
  margin:auto;
}
}

hr {
border: 0;
clear: both;
display: block;
width: 100%;
color: #202121;
background-color: black;
height: 2px;
}

/*Animations?*/
@keyframes slideInFromDown {
0% {
  transform: translateY(5%);
}

100% {
  transform: translateX(0);
}
}

.team-header, .team-cards .flip-card {
animation: 1s ease-out 0s 1 slideInFromDown;
}

.team-cards-container{
--bs-gutter-x: 1.5rem;
width: 100%;
padding-right: calc(var(--bs-gutter-x) / 2);
padding-left: calc(var(--bs-gutter-x) / 2);
margin-right: auto;
margin-left: auto;
}

.team-content-order{
  order: 1;
}

.sidebar-order{
  order: 2;
  padding-top: 5rem;
}

.MuiStepper-root {
  padding: 0 !important;
}

@media only screen and (min-width: 600px) {
  .sticky-top{
    position: fixed;
    top: 35vh;
    display: block;
    align-self: flex-start;
  }

  .main-image{
    margin-right: 10rem;
  }

}
@media only screen and (max-width: 600px) {
  .team-content-order{
    order: 2;
    margin-top: 5rem !important;
  }

  .sidebar-order{
    order: 1;
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 432px) {

  .team-content-order{
    margin-top: 0rem !important;
  }
}

.chapter-lead-card{
width:85%;
}

@media only screen and (max-width: 768px) {
.chapter-lead-card, .staff-card {
  width: 16rem !important;
}
}

.team-row{
padding-top: 3rem !important;
}

.team-card-column, .team-card-row, .chapter-lead, .staff-lead{
padding-top: 3rem !important;
padding-bottom: 3rem !important;
}

.team-row-heads{
margin-right: auto !important;
margin-left: auto !important;
text-align: center !important;
margin: 1rem 0 1rem 0;
}

.team .social-circle-icon{
height: 1.5rem;
margin: 1rem;
}

.section-heading{
margin-right: auto !important;
margin-left: auto !important;
text-align: center !important;
margin-top: 3rem;
}

.team-card-row .flip-card, .staff-card {
min-height: 32rem;
max-width: 16rem;
}

.team-card-row .flip-card-back .card-body {
min-height: 35rem;
width: 16rem;
}


.read-more {
cursor: pointer;
font-weight: bold;
font-size: 1rem;
}

.team-cards .fab, .team-cards .fas  {
color: #ffffff;
margin: 0 0.5rem 0 0.5rem!important;
}

.chapter-lead-card {
background-color: #FEF7E0 !important;
}

.execom .flip-card-front .card-body{
background-color: #D2E3FC !important;
}

.execom .flip-card-back .card-body{
background-color: #4285F4 !important;
}

.technical .flip-card-front .card-body{
background-color: #CEEAD6 !important;
}

.technical .flip-card-back .card-body {
background-color: #34AB53 !important;
}

.creative .flip-card-front .card-body{
background-color: #FAD2CF !important;
}

.creative .flip-card-back .card-body{
background-color: #EA4335 !important;
}

.organisational .flip-card-front .card-body {
background-color: #FEEFC3 !important;
}

.organisational .flip-card-back .card-body {
background-color: #FBBC04 !important;
}

/*Dark Mode*/
.dark .chapter-lead-card {
background-color: #1967D2 !important;
}

.dark .execom .flip-card-front .card-body{
background-color: #4285F4 !important;
}

.dark .execom .flip-card-back .card-body{
background-color: #D2E3FC !important;
color: #000 !important;
}

.dark .technical .flip-card-front .card-body{
background-color: #34AB53 !important;
}

.dark .technical .flip-card-back .card-body {
background-color: #CEEAD6 !important;
color: #000 !important;
}

.dark .creative .flip-card-front .card-body{
background-color: #EA4335 !important;
}

.dark .creative .flip-card-back .card-body{
background-color: #FAD2CF !important;
color: #000 !important;
}

.dark .organisational .flip-card-front .card-body {
background-color: #FBBC04 !important;
}

.dark .organisational .flip-card-back .card-body {
background-color: #FEEFC3 !important;
color: #000 !important;
}

/*Card and Card Flip*/
.flip-card {
background-color: transparent;
perspective: 1000px;
margin: 2rem;
margin-right: auto !important;
margin-left: auto !important;
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
border-radius: 0.25rem;
}

.flip-card .card-body {
-ms-flex: 1 1 auto;
flex: 1 1 auto;
min-height: 19rem;
padding: 1.25rem;
}

.flip-card .card-title {
font-size: 1.25rem;
font-weight: bold;
}

.flip-card .card-text{
padding-top: 0.5rem !important;
padding-bottom: 0.5rem !important;
font-size: 1rem;
line-height: 1.15;
}

.flip-card .card-img,
.flip-card .card-img-top{
-ms-flex-negative: 0;
flex-shrink: 0;
width: 100%;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
transition: transform 0.6s;
transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
transform: rotateY(+180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
transform: rotateX(0deg);
}

.flip-card-back {
transform: rotateY(-180deg);
}
